* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding-top: 100px;
}
.header {
    background-color: black;
    z-index: 1000;
    padding: 8px 16px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

#name {
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav-list a:hover {
    color: blueviolet;
}


.main {
    background-color: rgba(0, 0, 0, 0.034);
    padding: 30px;
    border-radius: 25px;
    margin-left: 16px;
    margin-right: 16px;
}

section:last-child {
    border-bottom: none;
}


.about-me,
.skills,
.projects,
.contact {
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}

#about-me {
    text-align: center;
    font-style: italic;
}

#about-me p {
    line-height: 1.7;
    margin-bottom: 20px;
    font-style: normal;
}
.about-me{
    font-weight: bold;
    font-size: 30px;
}

#img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #dddddd;
}

#skills{
    text-align: center;
    margin-top: 30px;
}
.skills{
    font-weight: bold;
    font-style: italic;
}
.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.skills-list li {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
}
.skills-list li:hover{
    background-color: purple;

}
#projects{
    text-align: center;
    margin-top: 30px;
}
.projects{
    font-style: italic;
    font-weight: bold;
}

.projects-grid {
    display: block;
    gap: 15px;
   
}

.project-card {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 30px;
   
}

.project-card h3 {
    font-size: 17px;
    margin-bottom: 8px;
}

.project-card p {
    font-size: 14px;
    color: #555555;
    margin-bottom: 10px;
}

.project-tools {
    font-size: 12px;
    color: black;
}
#contact{
    display: block;
    text-align: center;
}
.contact{
    font-weight: bold;
    font-style: italic;
}

.contact-list {
    list-style: none;
}

.contact-list li {
    margin-bottom: 10px;
    font-size: 15px;
}

.contact-list a {
    color: blue;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-list a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .nav-list {
        flex-direction: column;
        gap: 8px;
    }
}